* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    border: none;
    height: 40px;
    line-height: 40px;
    min-width: 100px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #03ad04;
    color: #ffffff;
}

.btn:hover {
    background-color: #038805;
}

.text-center {
    text-align: center;
}

.container {
    width: 600px;
}

.game {
    min-height: 100vh;
    font-family: sans-serif;
    background-color: #333333;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    display: flex;
    justify-content: space-between;
}

.score p {
    margin: 10px 0;
}

.score > div {
    text-align: center;
}

.intro {
    text-align: center;
}

.intro .btn {
    margin: 4rem 0 3rem;
}

.intro button {
    margin: 15px 0;
}

.match .hands {
    display: flex;
    justify-content: space-between;
}

.match img {
    max-width: 200px;
}

.match .options {
    display: flex;
    justify-content: space-around;
}

.match .player-hand {
    transform: scaleX(-1);
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}